In [120]:
import pandas as pd
import numpy as np
df = pd.read_csv("mz_final.csv", encoding = 'utf-8')

In [121]:
# 데이트 분리.
df['date'] = df.event_timestamp.str.split(' ').str[0]
df['time'] = df.event_timestamp.str.split(' ').str[1]

## 1. 구매주기

In [122]:
## M세대 
# M세대이면서 구매성공항 데이터(df_m) 분리
df_m = df[(df['generation']=='M')&(df['event_name']=='purchase_success')]
# 세션안에서 같은 세션이고 같은 날 같은 시간에 구매한 것 중복 제거 -> 한번에 두가지 제품을 구매한 경우 대비
df_m.drop_duplicates(subset=['session_id','date','time'],inplace=True)

# Z세대 
# Z세대이면서 구매성공항 데이터(df_z) 분리
df_z = df[(df['generation']=='Z')&(df['event_name']=='purchase_success')]
# 세션안에서 같은 세션이고 같은 날 같은 시간에 구매한 것 중복 제거 -> 한번에 두가지 제품을 구매한 경우 대비
df_z.drop_duplicates(subset=['session_id','date','time'],inplace=True)

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3516768256.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m.drop_duplicates(subset=['session_id','date','time'],inplace=True)
/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3516768256.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z.drop_duplicates(subset=['session_id','date','time'],inplace=True)

In [123]:
## M세대 
ddf = df_m

In [124]:
ddf = ddf.sort_values(by=['user_no', 'date'])
ddf

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date,time
32038,+++T9c17sr6wEYOy9UFv3w==,1989,M,c4ca4238a0b923820dcc509a6f75849b,2021-06-15 16:07:45.863056,purchase_success,f4eCC27uv5KkL4VhuUtesg==,33900.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-06-15,16:07:45.863056
32039,+++T9c17sr6wEYOy9UFv3w==,1989,M,c81e728d9d4c2f636f067f89cc14862c,2021-06-16 15:27:03.492053,purchase_success,vcWOTezeI0B73VqR9bPsBw==,55800.0,의류,하의,바지,7939.0,WV PROJECT,2021-06-16,15:27:03.492053
32040,+++T9c17sr6wEYOy9UFv3w==,1989,M,eccbc87e4b5ce2fe28308fd9f2a7baf3,2021-06-17 18:55:12.949015,purchase_success,4U/VWP7DGGo1qnzwGJIo4w==,119000.0,잡화,가방,크로스백,1854.0,sweetch,2021-06-17,18:55:12.949015
32041,+++T9c17sr6wEYOy9UFv3w==,1989,M,e4da3b7fbbce2345d7772b0674a318d5,2021-07-03 17:51:26.43805,purchase_success,YEjZMGbns5O/UUpvrSI7lg==,65800.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-07-03,17:51:26.43805
197624,+++aQH5NnhiU/9qECKk3uQ==,1990,M,d3d9446802a44259755d38e6d163e820,2021-06-10 05:28:41.028191,purchase_success,3z7p8MvzYlnyGkXfK6GJzw==,95000.0,의류,하의,스커트,14719.0,bernardmills,2021-06-10,05:28:41.028191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98100,zzq8skPzbmsxokOi5tkZQQ==,1983,M,f8af46ad73ac9ffcad31eba9a889301b,2021-08-01 09:09:00.863038,purchase_success,h+X6gkYug2jEoMLDlHRqUQ==,79000.0,의류,하의,바지,13472.0,nought,2021-08-01,09:09:00.863038
98101,zzq8skPzbmsxokOi5tkZQQ==,1983,M,f8af46ad73ac9ffcad31eba9a889301b,2021-08-01 09:09:00.864039,purchase_success,B65b1OTj4CuhYHWNP2dMEQ==,108000.0,의류,상의,니트/스웨터,3951.0,Youth,2021-08-01,09:09:00.864039
263132,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,ba26b3c58cb9a591d68ad8fb78b468f7,2021-06-15 17:04:26.205004,purchase_success,b9M/fPRnkCuV9cSaw0cp3w==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:04:26.205004
263133,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,ba26b3c58cb9a591d68ad8fb78b468f7,2021-06-15 17:04:26.206005,purchase_success,9ltNUyvoS0mvECvQtrGBVw==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:04:26.206005
263134,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,23b97dc3b2fc80c1924d28c53164351a,2021-07-04 00:25:00.662004,purchase_success,qnG9YZ0unGLOvlBe5KpbEQ==,69000.0,의류,상의,니트/스웨터,6882.0,Steady Every Wear,2021-07-04,00:25:00.662004

In [125]:
# user_no기준으로 date를 앞으로 한칸씩 당겨옴 
ddf['next_purchase'] = ddf.groupby(by="user_no")["date"].shift(-1)
ddf

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date,time,next_purchase
32038,+++T9c17sr6wEYOy9UFv3w==,1989,M,c4ca4238a0b923820dcc509a6f75849b,2021-06-15 16:07:45.863056,purchase_success,f4eCC27uv5KkL4VhuUtesg==,33900.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-06-15,16:07:45.863056,2021-06-16
32039,+++T9c17sr6wEYOy9UFv3w==,1989,M,c81e728d9d4c2f636f067f89cc14862c,2021-06-16 15:27:03.492053,purchase_success,vcWOTezeI0B73VqR9bPsBw==,55800.0,의류,하의,바지,7939.0,WV PROJECT,2021-06-16,15:27:03.492053,2021-06-17
32040,+++T9c17sr6wEYOy9UFv3w==,1989,M,eccbc87e4b5ce2fe28308fd9f2a7baf3,2021-06-17 18:55:12.949015,purchase_success,4U/VWP7DGGo1qnzwGJIo4w==,119000.0,잡화,가방,크로스백,1854.0,sweetch,2021-06-17,18:55:12.949015,2021-07-03
32041,+++T9c17sr6wEYOy9UFv3w==,1989,M,e4da3b7fbbce2345d7772b0674a318d5,2021-07-03 17:51:26.43805,purchase_success,YEjZMGbns5O/UUpvrSI7lg==,65800.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-07-03,17:51:26.43805,NaN
197624,+++aQH5NnhiU/9qECKk3uQ==,1990,M,d3d9446802a44259755d38e6d163e820,2021-06-10 05:28:41.028191,purchase_success,3z7p8MvzYlnyGkXfK6GJzw==,95000.0,의류,하의,스커트,14719.0,bernardmills,2021-06-10,05:28:41.028191,2021-06-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98100,zzq8skPzbmsxokOi5tkZQQ==,1983,M,f8af46ad73ac9ffcad31eba9a889301b,2021-08-01 09:09:00.863038,purchase_success,h+X6gkYug2jEoMLDlHRqUQ==,79000.0,의류,하의,바지,13472.0,nought,2021-08-01,09:09:00.863038,2021-08-01
98101,zzq8skPzbmsxokOi5tkZQQ==,1983,M,f8af46ad73ac9ffcad31eba9a889301b,2021-08-01 09:09:00.864039,purchase_success,B65b1OTj4CuhYHWNP2dMEQ==,108000.0,의류,상의,니트/스웨터,3951.0,Youth,2021-08-01,09:09:00.864039,NaN
263132,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,ba26b3c58cb9a591d68ad8fb78b468f7,2021-06-15 17:04:26.205004,purchase_success,b9M/fPRnkCuV9cSaw0cp3w==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:04:26.205004,2021-06-15
263133,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,ba26b3c58cb9a591d68ad8fb78b468f7,2021-06-15 17:04:26.206005,purchase_success,9ltNUyvoS0mvECvQtrGBVw==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:04:26.206005,2021-07-04
263134,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,23b97dc3b2fc80c1924d28c53164351a,2021-07-04 00:25:00.662004,purchase_success,qnG9YZ0unGLOvlBe5KpbEQ==,69000.0,의류,상의,니트/스웨터,6882.0,Steady Every Wear,2021-07-04,00:25:00.662004,NaN

In [126]:
# user_no 기준 재구매 하지 않은 사람들 제거 
ddf2 = ddf.dropna(subset=['next_purchase'])

In [127]:
# 계산을 위해 타입을 날짜로 변환
ddf2['date'] = pd.to_datetime(ddf2['date'])
ddf2['next_purchase'] = pd.to_datetime(ddf2['next_purchase'])
# purchase_date_diff 컬럼 생성 
ddf2['purchase_date_diff']=ddf2['next_purchase']-ddf2['date']

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3864362031.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['date'] = pd.to_datetime(ddf2['date'])
/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3864362031.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['next_purchase'] = pd.to_datetime(ddf2['next_purchase'])
/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3864362031.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['purchase_date_diff']=ddf2['next_purchase']-ddf2['date']

In [128]:
# 당일에 재구매한것은 분리 
df_0days = ddf2[ddf2['purchase_date_diff']== '0 days']
df_0days.shape[0]

118729

In [155]:
# 재구매 유저 그룹 분리
df_m_ndays = ddf2.drop(df_0days.index) # 당일 재구매 제외
df_m_ndays['purchase_date_diff'].value_counts().sort_index()

1 days     1906
2 days     1294
3 days     1124
4 days     1053
5 days      842
           ...
57 days       9
58 days      19
59 days       8
60 days       4
61 days       1
Name: purchase_date_diff, Length: 61, dtype: int64

In [156]:
# 계산을 위해 date_diff의 타입을 timedelta64에서 int로 변환
df_m_ndays['purchase_date_diff'] = df_m_ndays['purchase_date_diff'].dt.days

In [157]:
#유저별 평균 구매일수 
df_m_ndays.groupby('user_no').mean()

                            year          price  brand_no  purchase_date_diff
user_no
++KVqHvNPHvp3LL9SkuL8A==  2004.0   73950.000000    9669.5                24.0
+00VohIjKv9IBNiMTZXFiA==  1997.0   99000.000000    3797.0                20.0
+0pt8KO8US1de0l0pHbSKA==  2000.0   45000.000000    7730.0                28.0
+1Mr7TyOhb/FqQdRYdBQCg==  1997.0   68000.000000   12252.0                 1.0
+1QDACW9qACZkfLQO+HdrQ==  1998.0  121666.666667    7385.0                 5.0
...                          ...            ...       ...                 ...
zz3Ar6DD99dqzB75w7zdxw==  1998.0   60000.000000    3360.0                16.5
zzFuhUOnokFb9Vgp98ucrA==  1997.0   15500.000000    8077.0                 3.0
zzKWo6xuFSRROk3YcF7lZA==  2000.0   42000.000000    3689.0                20.0
zzLGF7vXyODnAkQWIcqX0g==  1996.0  175500.000000   12305.5                13.5
zzeo6R7eqUsMpsllzG1Xbw==  1997.0   69000.000000    2350.0                 8.0

[10060 rows x 4 columns]

In [158]:
# M세대의 구매 주기 
df_m_ndays.groupby('user_no').mean().mean()

year                   1998.056660
price                 61495.169111
brand_no               7469.274281
purchase_date_diff       15.207683
dtype: float64

In [133]:
## Z세대

# Z세대이면서 구매성공항 데이터(df_z) 분리
df_z = df[(df['generation']=='Z')&(df['event_name']=='purchase_success')]
# 세션안에서 같은 날 같은 시간에 구매한 것 중복 제거 -> 한번에 두가지 제품을 구매한 경우 대비
df_z.drop_duplicates(subset=['session_id','date','time'],inplace=True)

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/979798808.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z.drop_duplicates(subset=['session_id','date','time'],inplace=True)

In [134]:
## Z세대 
ddf2 = df_z

In [135]:
ddf2 = ddf2.sort_values(by=['user_no', 'date'])
ddf2

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date,time
294924,++0bwiYVJ/TAsCpxI4UCuw==,1998,Z,1c383cd30b7c298ab50293adfecb7b18,2021-07-27 14:33:20.527011,purchase_success,1oudcHpdVAFRZB8isAnFMQ==,88000.0,의류,상의,티셔츠,7997.0,FRED PERRY APPAREL,2021-07-27,14:33:20.527011
305440,++2StXdzG0Bj/Kkb5EFcog==,1998,Z,d67d8ab4f4c10bf22aa353e27879133c,2021-06-29 18:49:40.928022,purchase_success,9oXAjvKXJBnVAnVqCTTgkw==,25900.0,의류,하의,바지,9621.0,JEMUT,2021-06-29,18:49:40.928022
273662,++2c5Jr8sOEvXXs326kLYQ==,2002,Z,3416a75f4cea9109507cacd8e2f2aefc,2021-06-19 13:27:55.277026,purchase_success,D0VWjbDA0Hn/u4LJSwVyDw==,38000.0,의류,상의,티셔츠,2477.0,NEITHERS,2021-06-19,13:27:55.277026
294925,++IAheYpBmhESyfIUJcnDA==,1996,Z,c042f4db68f23406c6cecf84a7ebb0fe,2021-06-23 01:31:00.192256,purchase_success,Z1WikGOivUTkUDaBjNSn1g==,23000.0,잡화,주얼리,귀걸이,9963.0,GETMEBLING,2021-06-23,01:31:00.192256
294926,++IAheYpBmhESyfIUJcnDA==,1996,Z,c042f4db68f23406c6cecf84a7ebb0fe,2021-06-23 01:31:00.192257,purchase_success,Gx9DFIr0AtPxUFd+TTaYag==,39000.0,잡화,주얼리,목걸이,9963.0,GETMEBLING,2021-06-23,01:31:00.192257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284510,zzeo6R7eqUsMpsllzG1Xbw==,1997,Z,8fcd3304dc37cdeb44e4728f56a77b98,2021-06-15 17:25:01.098074,purchase_success,3yVEIEUhmF8igIYTWV1iDg==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:25:01.098074
336022,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,0f3a5d6ba28b1fdee09ffc0b7ffeb167,2021-08-02 17:42:31.493004,purchase_success,CliHBLsYlrLq15fzRAHZ6w==,29000.0,의류,상의,티셔츠,4290.0,American Apparel,2021-08-02,17:42:31.493004
336023,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,7c27f60b21bd1c72c31d9d633e069d46,2021-08-02 19:23:46.465059,purchase_success,mU61E7Kb4DUHgbdYPMox3g==,58000.0,가구/인테리어,홈데코,커버류,8398.0,베베데코,2021-08-02,19:23:46.465059
336024,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,81e19cb62d3450d008fc227d4df17bcc,2021-08-02 21:49:35.198004,purchase_success,mU61E7Kb4DUHgbdYPMox3g==,58000.0,가구/인테리어,홈데코,커버류,8398.0,베베데코,2021-08-02,21:49:35.198004
284511,zzuJMnncH5Wrn/GUA7nqTg==,1997,Z,3ae64d4946bb3ea20d503afc2e39b578,2021-07-23 20:01:48.630025,purchase_success,EnzKYLzBWAMEcir/4VTccg==,65000.0,의류,원피스/점프수트,원피스,11472.0,MONGDOL,2021-07-23,20:01:48.630025

In [136]:
# user_no기준으로 date를 앞으로 한칸씩 당겨옴 
ddf2['next_purchase'] = ddf2.groupby(by="user_no")["date"].shift(-1)
ddf2

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date,time,next_purchase
294924,++0bwiYVJ/TAsCpxI4UCuw==,1998,Z,1c383cd30b7c298ab50293adfecb7b18,2021-07-27 14:33:20.527011,purchase_success,1oudcHpdVAFRZB8isAnFMQ==,88000.0,의류,상의,티셔츠,7997.0,FRED PERRY APPAREL,2021-07-27,14:33:20.527011,NaN
305440,++2StXdzG0Bj/Kkb5EFcog==,1998,Z,d67d8ab4f4c10bf22aa353e27879133c,2021-06-29 18:49:40.928022,purchase_success,9oXAjvKXJBnVAnVqCTTgkw==,25900.0,의류,하의,바지,9621.0,JEMUT,2021-06-29,18:49:40.928022,NaN
273662,++2c5Jr8sOEvXXs326kLYQ==,2002,Z,3416a75f4cea9109507cacd8e2f2aefc,2021-06-19 13:27:55.277026,purchase_success,D0VWjbDA0Hn/u4LJSwVyDw==,38000.0,의류,상의,티셔츠,2477.0,NEITHERS,2021-06-19,13:27:55.277026,NaN
294925,++IAheYpBmhESyfIUJcnDA==,1996,Z,c042f4db68f23406c6cecf84a7ebb0fe,2021-06-23 01:31:00.192256,purchase_success,Z1WikGOivUTkUDaBjNSn1g==,23000.0,잡화,주얼리,귀걸이,9963.0,GETMEBLING,2021-06-23,01:31:00.192256,2021-06-23
294926,++IAheYpBmhESyfIUJcnDA==,1996,Z,c042f4db68f23406c6cecf84a7ebb0fe,2021-06-23 01:31:00.192257,purchase_success,Gx9DFIr0AtPxUFd+TTaYag==,39000.0,잡화,주얼리,목걸이,9963.0,GETMEBLING,2021-06-23,01:31:00.192257,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284510,zzeo6R7eqUsMpsllzG1Xbw==,1997,Z,8fcd3304dc37cdeb44e4728f56a77b98,2021-06-15 17:25:01.098074,purchase_success,3yVEIEUhmF8igIYTWV1iDg==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:25:01.098074,NaN
336022,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,0f3a5d6ba28b1fdee09ffc0b7ffeb167,2021-08-02 17:42:31.493004,purchase_success,CliHBLsYlrLq15fzRAHZ6w==,29000.0,의류,상의,티셔츠,4290.0,American Apparel,2021-08-02,17:42:31.493004,2021-08-02
336023,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,7c27f60b21bd1c72c31d9d633e069d46,2021-08-02 19:23:46.465059,purchase_success,mU61E7Kb4DUHgbdYPMox3g==,58000.0,가구/인테리어,홈데코,커버류,8398.0,베베데코,2021-08-02,19:23:46.465059,2021-08-02
336024,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,81e19cb62d3450d008fc227d4df17bcc,2021-08-02 21:49:35.198004,purchase_success,mU61E7Kb4DUHgbdYPMox3g==,58000.0,가구/인테리어,홈데코,커버류,8398.0,베베데코,2021-08-02,21:49:35.198004,NaN
284511,zzuJMnncH5Wrn/GUA7nqTg==,1997,Z,3ae64d4946bb3ea20d503afc2e39b578,2021-07-23 20:01:48.630025,purchase_success,EnzKYLzBWAMEcir/4VTccg==,65000.0,의류,원피스/점프수트,원피스,11472.0,MONGDOL,2021-07-23,20:01:48.630025,NaN

In [137]:
# user_no 기준 재구매 하지 않은 사람들 제거 
ddf2 = ddf2.dropna(subset=['next_purchase'])

In [138]:
# 계산을 위해 타입을 날짜로 변환
ddf2['date'] = pd.to_datetime(ddf2['date'])
ddf2['next_purchase'] = pd.to_datetime(ddf2['next_purchase'])
# purchase_date_diff 컬럼 생성 
ddf2['purchase_date_diff']=ddf2['next_purchase']-ddf2['date']

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/101778185.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['date'] = pd.to_datetime(ddf2['date'])
/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/101778185.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['next_purchase'] = pd.to_datetime(ddf2['next_purchase'])
/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/101778185.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['purchase_date_diff']=ddf2['next_purchase']-ddf2['date']

In [139]:
# 당일에 재구매한것은 분리 
df_0days = ddf2[ddf2['purchase_date_diff']== '0 days']
df_0days.shape[0]

30009

In [159]:
# 재구매 유저 그룹 분리
df_z_ndays = ddf2.drop(df_0days.index) # 당일 재구매 제외
df_z_ndays['purchase_date_diff'].value_counts().sort_index()

1 days     1906
2 days     1294
3 days     1124
4 days     1053
5 days      842
           ...
57 days       9
58 days      19
59 days       8
60 days       4
61 days       1
Name: purchase_date_diff, Length: 61, dtype: int64

In [160]:
# 계산을 위해 date_diff의 타입을 timedelta64에서 int로 변환
df_z_ndays['purchase_date_diff'] = df_z_ndays['purchase_date_diff'].dt.days

In [161]:
#유저별 평균 구매일수 
df_z_ndays.groupby('user_no').mean()

                            year          price  brand_no  purchase_date_diff
user_no
++KVqHvNPHvp3LL9SkuL8A==  2004.0   73950.000000    9669.5                24.0
+00VohIjKv9IBNiMTZXFiA==  1997.0   99000.000000    3797.0                20.0
+0pt8KO8US1de0l0pHbSKA==  2000.0   45000.000000    7730.0                28.0
+1Mr7TyOhb/FqQdRYdBQCg==  1997.0   68000.000000   12252.0                 1.0
+1QDACW9qACZkfLQO+HdrQ==  1998.0  121666.666667    7385.0                 5.0
...                          ...            ...       ...                 ...
zz3Ar6DD99dqzB75w7zdxw==  1998.0   60000.000000    3360.0                16.5
zzFuhUOnokFb9Vgp98ucrA==  1997.0   15500.000000    8077.0                 3.0
zzKWo6xuFSRROk3YcF7lZA==  2000.0   42000.000000    3689.0                20.0
zzLGF7vXyODnAkQWIcqX0g==  1996.0  175500.000000   12305.5                13.5
zzeo6R7eqUsMpsllzG1Xbw==  1997.0   69000.000000    2350.0                 8.0

[10060 rows x 4 columns]

In [162]:
# Z세대의 구매 주기 
df_z_ndays.groupby('user_no').mean().mean()

year                   1998.056660
price                 61495.169111
brand_no               7469.274281
purchase_date_diff       15.207683
dtype: float64

In [ ]:
# 구매주기 t-test

In [163]:
df_m_ndays.groupby('user_no').mean()

                            year          price  brand_no  purchase_date_diff
user_no
++KVqHvNPHvp3LL9SkuL8A==  2004.0   73950.000000    9669.5                24.0
+00VohIjKv9IBNiMTZXFiA==  1997.0   99000.000000    3797.0                20.0
+0pt8KO8US1de0l0pHbSKA==  2000.0   45000.000000    7730.0                28.0
+1Mr7TyOhb/FqQdRYdBQCg==  1997.0   68000.000000   12252.0                 1.0
+1QDACW9qACZkfLQO+HdrQ==  1998.0  121666.666667    7385.0                 5.0
...                          ...            ...       ...                 ...
zz3Ar6DD99dqzB75w7zdxw==  1998.0   60000.000000    3360.0                16.5
zzFuhUOnokFb9Vgp98ucrA==  1997.0   15500.000000    8077.0                 3.0
zzKWo6xuFSRROk3YcF7lZA==  2000.0   42000.000000    3689.0                20.0
zzLGF7vXyODnAkQWIcqX0g==  1996.0  175500.000000   12305.5                13.5
zzeo6R7eqUsMpsllzG1Xbw==  1997.0   69000.000000    2350.0                 8.0

[10060 rows x 4 columns]

In [164]:
df_m_ndays.groupby('user_no').mean()['purchase_date_diff']

user_no
++KVqHvNPHvp3LL9SkuL8A==    24.0
+00VohIjKv9IBNiMTZXFiA==    20.0
+0pt8KO8US1de0l0pHbSKA==    28.0
+1Mr7TyOhb/FqQdRYdBQCg==     1.0
+1QDACW9qACZkfLQO+HdrQ==     5.0
                            ...
zz3Ar6DD99dqzB75w7zdxw==    16.5
zzFuhUOnokFb9Vgp98ucrA==     3.0
zzKWo6xuFSRROk3YcF7lZA==    20.0
zzLGF7vXyODnAkQWIcqX0g==    13.5
zzeo6R7eqUsMpsllzG1Xbw==     8.0
Name: purchase_date_diff, Length: 10060, dtype: float64

## 구매주기 t-test

In [165]:
#독립표본 t-test
from scipy.stats import levene
#세대별 user_no 구매가격 확인
df_m_ndays.groupby('user_no').mean()['purchase_date_diff']
df_z_ndays.groupby('user_no').mean()['purchase_date_diff']

user_no
++KVqHvNPHvp3LL9SkuL8A==    24.0
+00VohIjKv9IBNiMTZXFiA==    20.0
+0pt8KO8US1de0l0pHbSKA==    28.0
+1Mr7TyOhb/FqQdRYdBQCg==     1.0
+1QDACW9qACZkfLQO+HdrQ==     5.0
                            ...
zz3Ar6DD99dqzB75w7zdxw==    16.5
zzFuhUOnokFb9Vgp98ucrA==     3.0
zzKWo6xuFSRROk3YcF7lZA==    20.0
zzLGF7vXyODnAkQWIcqX0g==    13.5
zzeo6R7eqUsMpsllzG1Xbw==     8.0
Name: purchase_date_diff, Length: 10060, dtype: float64

In [169]:
#독립표본 t-test
from scipy.stats import levene

# 두 집단 변수생성
period_gen_m = df_m_ndays.groupby('user_no').mean()['purchase_date_diff']
period_gen_z = df_z_ndays.groupby('user_no').mean()['purchase_date_diff']

# 등분산 검정
levene(period_gen_m,period_gen_z)  
# p-value >a -> 귀무가설 채택 -> 등분산 가정

LeveneResult(statistic=0.0, pvalue=1.0)

In [170]:
# 독립표본 t-test 
## 귀무가설 : 두집단 평균간의 차이가 없다 vs 대립가설 : 두 집단 평균간의 차이가 있다
from scipy import stats
#등분산 가정 equal_var = True 
stats.ttest_ind(period_gen_m,period_gen_z,equal_var = True)
#p-value > a(0.05) -> 귀무가설 채택 -> 두 집단의 평균이 차이가 없다.

Ttest_indResult(statistic=0.0, pvalue=1.0)

# 2. 재구매율

In [26]:
## M세대
# data sorting 기준:['user_no','session_id', 'date']
df_m = df_m.sort_values(by=['user_no','session_id', 'date'])

In [27]:
# user_no 의 마지막 주문 성공 date 추출
last_date = df_m.groupby(by="user_no")["date"].max().reset_index()

In [28]:
# 마지막 구매일과 첫번째 구매일 합치기
result = pd.merge(df_m, last_date, on = "user_no")

In [29]:
# 첫번째 유저아이디만 남기고 중복된 유저아이디 제거
df_m_data = result.drop_duplicates(subset=["user_no"])

In [30]:
# date의 타입을 datetime으로 변환
df_m_data['date_x'] = pd.to_datetime(df_m_data['date_x'])
df_m_data['date_y'] = pd.to_datetime(df_m_data['date_y'])

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3625968927.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m_data['date_x'] = pd.to_datetime(df_m_data['date_x'])
/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3625968927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m_data['date_y'] = pd.to_datetime(df_m_data['date_y'])

In [31]:
# 마지막 구매와 첫구매의 기간 구하기
# data_diff 컬럼 생성 : 마지막 구매일 - 첫 구매일
df_m_data['date_diff'] = df_m_data['date_y']-df_m_data['date_x']

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/2198937061.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m_data['date_diff'] = df_m_data['date_y']-df_m_data['date_x']

In [32]:
# 계산을 위해 date_diff의 타입을 timedelta64에서 int로 변환
df_m_data['date_diff'] = df_m_data['date_diff'].dt.days

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3227864065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m_data['date_diff'] = df_m_data['date_diff'].dt.days

In [33]:
# 재구매하지 않은 유저 와 재구매 유저 집단 분리
df_m_data_0 =df_m_data[df_m_data['date_diff']==0]

In [34]:
# M세대중 재구매하지 않은 유저의 수
df_m_data_0.shape[0]

66530

In [35]:
# 재구매X 유저인덱스추출
df_m_data_0 =df_m_data[df_m_data['date_diff']==0].index
df_m_data_0

Int64Index([     4,      6,      7,      9,     92,     96,     98,     99,
               101,    109,
            ...
            262148, 262149, 262152, 262161, 262162, 262163, 262166, 262167,
            262168, 262183],
           dtype='int64', length=66530)

In [36]:
# 재구매 유저 추출
df_m_data_re = df_m_data.drop(df_m_data_0) #재구매하지 않은 유저 제거

In [37]:
# 재구매 유저 추출
df_m_data_re = df_m_data.drop(df_m_data_0) #재구매하지 않은 유저 제거
df_m_data_re['date_diff'].value_counts()

1     964
2     689
3     600
4     552
7     524
     ...
58     43
59     29
60     27
61     11
62      4
Name: date_diff, Length: 62, dtype: int64

In [72]:
df_m_data_re

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date_x,time,date_y,date_diff
0,+++T9c17sr6wEYOy9UFv3w==,1989,M,c4ca4238a0b923820dcc509a6f75849b,2021-06-15 16:07:45.863056,purchase_success,f4eCC27uv5KkL4VhuUtesg==,33900.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-06-15,16:07:45.863056,2021-07-03,18
10,++FBFfYZThncncIvHjLbKQ==,1986,M,07e1cd7dca89a1678042477183b7ac3f,2021-06-25 10:04:19.633123,purchase_success,ekt+n7cXhqYeGj8mfgM52Q==,49500.0,디지털/가전,테크/가젯,웨어러블,5639.0,Samsung Mobile ACC,2021-06-25,10:04:19.633123,2021-07-29,34
22,++KjBls4euaEX77FWJaZ/A==,1994,M,00411460f7c92d2124a67ea0f4cb5f85,2021-06-10 21:53:10.327004,purchase_success,8NL5JSW3HgR7bjJ8up0RsQ==,33000.0,잡화,주얼리,목걸이,9857.0,BYWEEKEND,2021-06-10,21:53:10.327004,2021-07-03,23
104,++izmuIS/QEffdUxvt0y4Q==,1992,M,285e19f20beded7d215102b49d5c09a0,2021-06-06 20:24:45.913004,purchase_success,5lHq6zqbzfxRpjucwkiBMA==,118000.0,의류,하의,바지,2967.0,clove,2021-06-06,20:24:45.913004,2021-07-19,43
110,++nCZwJI3tzY/koA83zvrA==,1986,M,16c222aa19898e5058938167c8ab6c57,2021-06-24 13:29:40.429004,purchase_success,UkRV8gOTl2s5sPv2Ve7xhw==,169000.0,잡화,가방,백팩,12723.0,UCON ACROBATICS,2021-06-24,13:29:40.429004,2021-08-02,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262120,zygZMyQK8LBP/Bb/rlXcvQ==,1986,M,474ae97ed65237d4240c3ba529f64eb5,2021-06-23 18:44:25.231018,purchase_success,ondt9GxIT+d4Wu2vxDM6fg==,8500.0,식품,음료,전통주,8965.0,술마켓,2021-06-23,18:44:25.231018,2021-06-30,7
262130,zylDi7pGIbR7MtTnAmXgWg==,1991,M,74ab8665a1b97fcc07cab0d4c6fb669c,2021-06-03 16:12:02.286004,purchase_success,f4eCC27uv5KkL4VhuUtesg==,33900.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-06-03,16:12:02.286004,2021-07-05,32
262154,zzX3FmRQP0Rx24B95dVF5g==,1984,M,51d037bc36da3d42395bb908a56e363b,2021-06-13 00:20:24.032004,purchase_success,sj+awiLpitDD+Cf+VzYJ8g==,99000.0,잡화,신발,샌들,3797.0,Jerusalem Sandals,2021-06-13,00:20:24.032004,2021-07-17,34
262159,zzXAOeqeKWUD3YmwYX58IA==,1992,M,4271f11ea8489d3fc37bcc203abb0790,2021-07-09 10:12:29.291004,purchase_success,B7HarHxtFbt4dr1t7E0GqQ==,102000.0,잡화,신발,슬리퍼,10421.0,Komorebi Museum,2021-07-09,10:12:29.291004,2021-07-10,1
262170,zzq8skPzbmsxokOi5tkZQQ==,1983,M,30b6ccd1fe530b98a57cf164d75d7eb4,2021-06-27 16:41:32.967004,purchase_success,yHuh7WrnYSAxMWfYkPk9mQ==,69000.0,의류,상의,티셔츠,2768.0,BROWNYARD,2021-06-27,16:41:32.967004,2021-08-01,35

In [71]:
df_m_data_re['date_diff'].sort_values()

187244     1
10245      1
181387     1
10294      1
77650      1
          ..
69310     61
142506    62
109297    62
111711    62
203419    62
Name: date_diff, Length: 17840, dtype: int64

In [91]:
df_m_data_re['date_diff'].sort_values().sum()

371563

In [90]:
df_m_data_re['date_diff'].value_counts()

1     964
2     689
3     600
4     552
7     524
     ...
58     43
59     29
60     27
61     11
62      4
Name: date_diff, Length: 62, dtype: int64

In [ ]:
# 재구매율 구해보기

In [93]:
df_m_data_re['date_diff'].value_counts().sum()

17840

In [61]:
df_m['user_no'].nunique().sum()

84370

In [38]:
# M세대의 재구매율
df_m_data_re['date_diff'].value_counts().sum() / df_m['user_no'].nunique()*100

21.144956738177076

In [39]:
## Z세대 재구매율
df_z = df_z.sort_values(by=['user_no','session_id', 'date'])

In [40]:
last_date = df_z.groupby(by="user_no")["date"].max().reset_index()

In [41]:
result = pd.merge(df_z, last_date, on = "user_no")

In [42]:
df_z_data = result.drop_duplicates(subset=["user_no"])

In [43]:
df_z_data['date_x'] = pd.to_datetime(df_z_data['date_x'])
df_z_data['date_y'] = pd.to_datetime(df_z_data['date_y'])

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3425009851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z_data['date_x'] = pd.to_datetime(df_z_data['date_x'])
/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3425009851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z_data['date_y'] = pd.to_datetime(df_z_data['date_y'])

In [44]:
df_z_data['date_diff'] = df_z_data['date_y']-df_z_data['date_x']

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/3665906669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z_data['date_diff'] = df_z_data['date_y']-df_z_data['date_x']

In [45]:
df_z_data['date_diff'] = df_z_data['date_diff'].dt.days

/var/folders/_m/cn5hgvpd2zv9jwrd8sdt55ch0000gn/T/ipykernel_1615/2504393402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z_data['date_diff'] = df_z_data['date_diff'].dt.days

In [46]:
df_z_data_0 =df_z_data[df_z_data['date_diff']==0]

In [47]:
df_z_data_0.shape[0]

28706

In [48]:
df_z_data_0 =df_z_data[df_z_data['date_diff']==0].index
df_z_data_0

Int64Index([    0,     1,     2,     3,    10,    11,    12,    13,    14,
               16,
            ...
            82805, 82810, 82811, 82813, 82821, 82829, 82830, 82831, 82835,
            82838],
           dtype='int64', length=28706)

In [49]:
df_z_data_re = df_z_data.drop(df_z_data_0) #재구매하지 않은 유저 제거

In [89]:
df_z_data_re['date_diff'].value_counts()

1     357
2     240
3     227
4     224
5     185
     ...
58     15
59     13
60      3
62      2
61      1
Name: date_diff, Length: 62, dtype: int64

In [177]:
df_m_data_re['date_diff'].value_counts().sum() / df_m['user_no'].nunique()*100

21.144956738177076

In [51]:
# Z세대 재구매율
df_z_data_re['date_diff'].value_counts().sum() / df_z['user_no'].nunique()*100

17.30237381885227

## 재구매율 비율검정

In [ ]:
# 참고 사이트 https://circle-square.tistory.com/89

In [180]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [187]:
count = np.array([17840, 6006])
nobs = np.array([84370, 34712])

In [203]:
#귀무가설: 두 비율간 차이가 없다 vs 대립가설: 두 비율간 차이가 있다
z, p = proportions_ztest(count=count, nobs=nobs, value=0)
print('z : {}, p : {}'.format(z, p)) 
# p-value < 0 -> 귀무가설을 기각 -> 두 비율간 차이가 있다고 볼 수 있음.

z : 15.058156556933609, p : 3.0517846568936383e-51

# 객단가

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("mz_final.csv", encoding = 'utf-8')

In [ ]:
#MZ바꾸기만 하면 됨.
#구입 성공한 사람
df_purchase= df[df['event_name']=='purchase_success']
df_z= df_purchase[df_purchase['generation']=='Z']
df_z

df_purchase= df[df['event_name']=='purchase_success']
df_m= df_purchase[df_purchase['generation']=='M']
df_m
#Z세대 구입 가격 다 더한거 
Totalz = df_z['price'].sum()
Totalm = df_m['price'].sum()
#**z세대 구매 금액 4685392296.0
#*M세대 구매 금액 16491579305.0

#성공적으로 구매한 사람 중에 중복 지운 것.(z: 34712 m:84370)
df_Zno= df_z.drop_duplicates(['user_no'])
df_Zno.count()
df_mno= df_m.drop_duplicates(['user_no'])
df_mno.count()
#전체 구매금액 / 중목없는 사람 수
#Z 세대(객단가)  208249
Totalz / df_Zno['user_no'].count()
Totalm / df_mno['user_no'].count()#(z: 134979 , M: 195467)

## 객단가 t-test

In [54]:
import matplotlib.pyplot as plt
import numpy as np

In [55]:
#세대별 user_no 구매가격 확인후 정렬
#세대별 구매성공
df_m = df[(df['generation']=='M')&(df['event_name']=='purchase_success')].groupby('user_no')
df_z = df[(df['generation']=='Z')&(df['event_name']=='purchase_success')].groupby('user_no')

In [56]:
#독립표본 t-test
from scipy.stats import levene
#세대별 user_no 구매가격 확인후 정렬
df_m['price'].sum().sort_values()
df_z['price'].sum().sort_values()

user_no
N1KCZiTobZBss1eWO2iSaA==        500.0
AWziMPY8sSYNwloMHfUlWQ==        600.0
w0tyEo3KDa7UXm0Tgfg1tg==        600.0
GhZ22EFjlXcx1KM0MwBnUQ==        990.0
DiNzuxphnUh3DTPr6Q0YQw==       1500.0
                              ...
H5r8dy95iRUOMaIQelJVEg==    2797000.0
woApBxlycI8NG90SloRyRg==    3227300.0
cjRLplt5NuCfVcbtKjFgrg==    3643900.0
THRsmIZH+3pPSZhV/gpUNA==    4143000.0
HYd/Mh5ogaiu+Ln0cctE7Q==    4754200.0
Name: price, Length: 34712, dtype: float64

In [57]:
#독립표본 t-test
from scipy.stats import levene

# 두 집단 변수생성
gen_m = df_m['price'].sum().sort_values()
gen_z = df_z['price'].sum().sort_values()

# 등분산 검정
levene(gen_m, gen_z)

LeveneResult(statistic=1067.8303913768154, pvalue=3.517876917141587e-233)

In [58]:
# 독립표본 t-test
from scipy import stats
#이분산 가정 (equal_var = False
stats.ttest_ind(gen_m,gen_z,equal_var = False)

Ttest_indResult(statistic=45.820051232719315, pvalue=0.0)