In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("mz_final.csv", encoding = 'utf-8')

In [2]:
# 데이트 분리.
df['date'] = df.event_timestamp.str.split(' ').str[0]
df['time'] = df.event_timestamp.str.split(' ').str[1]

## 1. 구매주기

In [3]:
## M세대 
# M세대이면서 구매성공항 데이터(df_m) 분리
df_m = df[(df['generation']=='M')&(df['event_name']=='purchase_success')]
# 세션안에서 같은 세션이고 같은 날 같은 시간에 구매한 것 중복 제거 -> 한번에 두가지 제품을 구매한 경우 대비
df_m.drop_duplicates(subset=['session_id','date','time'],inplace=True)

# Z세대 
# Z세대이면서 구매성공항 데이터(df_z) 분리
df_z = df[(df['generation']=='Z')&(df['event_name']=='purchase_success')]
# 세션안에서 같은 세션이고 같은 날 같은 시간에 구매한 것 중복 제거 -> 한번에 두가지 제품을 구매한 경우 대비
df_z.drop_duplicates(subset=['session_id','date','time'],inplace=True)

/Users/hyunju/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [4]:
## M세대 
ddf = df_m

In [6]:
ddf = ddf.sort_values(by=['user_no', 'date'])
ddf

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date,time
32038,+++T9c17sr6wEYOy9UFv3w==,1989,M,c4ca4238a0b923820dcc509a6f75849b,2021-06-15 16:07:45.863056,purchase_success,f4eCC27uv5KkL4VhuUtesg==,33900.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-06-15,16:07:45.863056
32039,+++T9c17sr6wEYOy9UFv3w==,1989,M,c81e728d9d4c2f636f067f89cc14862c,2021-06-16 15:27:03.492053,purchase_success,vcWOTezeI0B73VqR9bPsBw==,55800.0,의류,하의,바지,7939.0,WV PROJECT,2021-06-16,15:27:03.492053
32040,+++T9c17sr6wEYOy9UFv3w==,1989,M,eccbc87e4b5ce2fe28308fd9f2a7baf3,2021-06-17 18:55:12.949015,purchase_success,4U/VWP7DGGo1qnzwGJIo4w==,119000.0,잡화,가방,크로스백,1854.0,sweetch,2021-06-17,18:55:12.949015
32041,+++T9c17sr6wEYOy9UFv3w==,1989,M,e4da3b7fbbce2345d7772b0674a318d5,2021-07-03 17:51:26.43805,purchase_success,YEjZMGbns5O/UUpvrSI7lg==,65800.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-07-03,17:51:26.43805
197624,+++aQH5NnhiU/9qECKk3uQ==,1990,M,d3d9446802a44259755d38e6d163e820,2021-06-10 05:28:41.028191,purchase_success,3z7p8MvzYlnyGkXfK6GJzw==,95000.0,의류,하의,스커트,14719.0,bernardmills,2021-06-10,05:28:41.028191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98100,zzq8skPzbmsxokOi5tkZQQ==,1983,M,f8af46ad73ac9ffcad31eba9a889301b,2021-08-01 09:09:00.863038,purchase_success,h+X6gkYug2jEoMLDlHRqUQ==,79000.0,의류,하의,바지,13472.0,nought,2021-08-01,09:09:00.863038
98101,zzq8skPzbmsxokOi5tkZQQ==,1983,M,f8af46ad73ac9ffcad31eba9a889301b,2021-08-01 09:09:00.864039,purchase_success,B65b1OTj4CuhYHWNP2dMEQ==,108000.0,의류,상의,니트/스웨터,3951.0,Youth,2021-08-01,09:09:00.864039
263132,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,ba26b3c58cb9a591d68ad8fb78b468f7,2021-06-15 17:04:26.205004,purchase_success,b9M/fPRnkCuV9cSaw0cp3w==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:04:26.205004
263133,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,ba26b3c58cb9a591d68ad8fb78b468f7,2021-06-15 17:04:26.206005,purchase_success,9ltNUyvoS0mvECvQtrGBVw==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:04:26.206005
263134,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,23b97dc3b2fc80c1924d28c53164351a,2021-07-04 00:25:00.662004,purchase_success,qnG9YZ0unGLOvlBe5KpbEQ==,69000.0,의류,상의,니트/스웨터,6882.0,Steady Every Wear,2021-07-04,00:25:00.662004

In [8]:
# user_no기준으로 date를 앞으로 한칸씩 당겨옴 
ddf['next_purchase'] = ddf.groupby(by="user_no")["date"].shift(-1)
ddf

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date,time,next_purchase
32038,+++T9c17sr6wEYOy9UFv3w==,1989,M,c4ca4238a0b923820dcc509a6f75849b,2021-06-15 16:07:45.863056,purchase_success,f4eCC27uv5KkL4VhuUtesg==,33900.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-06-15,16:07:45.863056,2021-06-16
32039,+++T9c17sr6wEYOy9UFv3w==,1989,M,c81e728d9d4c2f636f067f89cc14862c,2021-06-16 15:27:03.492053,purchase_success,vcWOTezeI0B73VqR9bPsBw==,55800.0,의류,하의,바지,7939.0,WV PROJECT,2021-06-16,15:27:03.492053,2021-06-17
32040,+++T9c17sr6wEYOy9UFv3w==,1989,M,eccbc87e4b5ce2fe28308fd9f2a7baf3,2021-06-17 18:55:12.949015,purchase_success,4U/VWP7DGGo1qnzwGJIo4w==,119000.0,잡화,가방,크로스백,1854.0,sweetch,2021-06-17,18:55:12.949015,2021-07-03
32041,+++T9c17sr6wEYOy9UFv3w==,1989,M,e4da3b7fbbce2345d7772b0674a318d5,2021-07-03 17:51:26.43805,purchase_success,YEjZMGbns5O/UUpvrSI7lg==,65800.0,의류,상의,티셔츠,9173.0,ALVINCLO,2021-07-03,17:51:26.43805,NaN
197624,+++aQH5NnhiU/9qECKk3uQ==,1990,M,d3d9446802a44259755d38e6d163e820,2021-06-10 05:28:41.028191,purchase_success,3z7p8MvzYlnyGkXfK6GJzw==,95000.0,의류,하의,스커트,14719.0,bernardmills,2021-06-10,05:28:41.028191,2021-06-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98100,zzq8skPzbmsxokOi5tkZQQ==,1983,M,f8af46ad73ac9ffcad31eba9a889301b,2021-08-01 09:09:00.863038,purchase_success,h+X6gkYug2jEoMLDlHRqUQ==,79000.0,의류,하의,바지,13472.0,nought,2021-08-01,09:09:00.863038,2021-08-01
98101,zzq8skPzbmsxokOi5tkZQQ==,1983,M,f8af46ad73ac9ffcad31eba9a889301b,2021-08-01 09:09:00.864039,purchase_success,B65b1OTj4CuhYHWNP2dMEQ==,108000.0,의류,상의,니트/스웨터,3951.0,Youth,2021-08-01,09:09:00.864039,NaN
263132,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,ba26b3c58cb9a591d68ad8fb78b468f7,2021-06-15 17:04:26.205004,purchase_success,b9M/fPRnkCuV9cSaw0cp3w==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:04:26.205004,2021-06-15
263133,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,ba26b3c58cb9a591d68ad8fb78b468f7,2021-06-15 17:04:26.206005,purchase_success,9ltNUyvoS0mvECvQtrGBVw==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:04:26.206005,2021-07-04
263134,zzzWx+6Z3L2IRJBTgvBs5g==,1994,M,23b97dc3b2fc80c1924d28c53164351a,2021-07-04 00:25:00.662004,purchase_success,qnG9YZ0unGLOvlBe5KpbEQ==,69000.0,의류,상의,니트/스웨터,6882.0,Steady Every Wear,2021-07-04,00:25:00.662004,NaN

In [9]:
# user_no 기준 재구매 하지 않은 사람들 제거 
ddf2 = ddf.dropna(subset=['next_purchase'])

In [22]:
# 계산을 위해 타입을 날짜로 변환
ddf2['date'] = pd.to_datetime(ddf2['date'])
ddf2['next_purchase'] = pd.to_datetime(ddf2['next_purchase'])
# purchase_date_diff 컬럼 생성 
ddf2['purchase_date_diff']=ddf2['next_purchase']-ddf2['date']

/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/1355921349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['date'] = pd.to_datetime(ddf2['date'])
/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/1355921349.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['next_purchase'] = pd.to_datetime(ddf2['next_purchase'])
/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/1355921349.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['purchase_date_diff']=ddf2['next_purchase']-ddf2['date']

In [25]:
# 당일에 재구매한것은 분리 
df_0days = ddf2[ddf2['purchase_date_diff']== '0 days']
df_0days.shape[0]

118729

In [26]:
# 재구매 유저 그룹 분리
df_ndays = ddf2.drop(df_0days.index) # 당일 재구매 제외
df_ndays['purchase_date_diff'].value_counts().sort_index()

1 days     6226
2 days     4512
3 days     3833
4 days     3283
5 days     3076
           ...
58 days      20
59 days      16
60 days       7
61 days       5
62 days       1
Name: purchase_date_diff, Length: 62, dtype: int64

In [27]:
# 계산을 위해 date_diff의 타입을 timedelta64에서 int로 변환
df_ndays['purchase_date_diff '] = df_ndays['purchase_date_diff'].dt.days

In [29]:
#유저별 평균 구매일수 
df_ndays.groupby('user_no').mean()

,year,price,brand_no,purchase_date_diff
user_no,,,,
+++T9c17sr6wEYOy9UFv3w==,1989.0,69566.666667,6322.000000,6.000000
+++aQH5NnhiU/9qECKk3uQ==,1990.0,95000.000000,14719.000000,11.000000
++3JFBN7Wkct/dRUdcanQw==,1991.0,43800.000000,7939.000000,22.000000
++FBFfYZThncncIvHjLbKQ==,1986.0,71083.333333,6350.166667,8.500000
++KjBls4euaEX77FWJaZ/A==,1994.0,107500.000000,7783.000000,11.500000
...,...,...,...,...
zz5TnVLybaHkaA+j06lZzg==,1982.0,5000.000000,12511.000000,31.000000
zzX3FmRQP0Rx24B95dVF5g==,1984.0,44000.000000,9628.666667,11.333333
zzXAOeqeKWUD3YmwYX58IA==,1992.0,102000.000000,10421.000000,1.000000
zzq8skPzbmsxokOi5tkZQQ==,1983.0,61980.000000,5699.400000,7.400000
zzzWx+6Z3L2IRJBTgvBs5g==,1994.0,87000.000000,2219.000000,19.000000

In [30]:
# M세대의 구매 주기 
df_ndays.groupby('user_no').mean().mean()

year                    1989.259986
price                  70418.501626
brand_no                7447.690523
purchase_date_diff        14.900443
dtype: float64

In [31]:
## Z세대

# Z세대이면서 구매성공항 데이터(df_z) 분리
df_z = df[(df['generation']=='Z')&(df['event_name']=='purchase_success')]
# 세션안에서 같은 날 같은 시간에 구매한 것 중복 제거 -> 한번에 두가지 제품을 구매한 경우 대비
df_z.drop_duplicates(subset=['session_id','date','time'],inplace=True)

/Users/hyunju/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [33]:
## Z세대 
ddf2 = df_z

In [34]:
ddf2 = ddf2.sort_values(by=['user_no', 'date'])
ddf2

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date,time
294924,++0bwiYVJ/TAsCpxI4UCuw==,1998,Z,1c383cd30b7c298ab50293adfecb7b18,2021-07-27 14:33:20.527011,purchase_success,1oudcHpdVAFRZB8isAnFMQ==,88000.0,의류,상의,티셔츠,7997.0,FRED PERRY APPAREL,2021-07-27,14:33:20.527011
305440,++2StXdzG0Bj/Kkb5EFcog==,1998,Z,d67d8ab4f4c10bf22aa353e27879133c,2021-06-29 18:49:40.928022,purchase_success,9oXAjvKXJBnVAnVqCTTgkw==,25900.0,의류,하의,바지,9621.0,JEMUT,2021-06-29,18:49:40.928022
273662,++2c5Jr8sOEvXXs326kLYQ==,2002,Z,3416a75f4cea9109507cacd8e2f2aefc,2021-06-19 13:27:55.277026,purchase_success,D0VWjbDA0Hn/u4LJSwVyDw==,38000.0,의류,상의,티셔츠,2477.0,NEITHERS,2021-06-19,13:27:55.277026
294925,++IAheYpBmhESyfIUJcnDA==,1996,Z,c042f4db68f23406c6cecf84a7ebb0fe,2021-06-23 01:31:00.192256,purchase_success,Z1WikGOivUTkUDaBjNSn1g==,23000.0,잡화,주얼리,귀걸이,9963.0,GETMEBLING,2021-06-23,01:31:00.192256
294926,++IAheYpBmhESyfIUJcnDA==,1996,Z,c042f4db68f23406c6cecf84a7ebb0fe,2021-06-23 01:31:00.192257,purchase_success,Gx9DFIr0AtPxUFd+TTaYag==,39000.0,잡화,주얼리,목걸이,9963.0,GETMEBLING,2021-06-23,01:31:00.192257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284510,zzeo6R7eqUsMpsllzG1Xbw==,1997,Z,8fcd3304dc37cdeb44e4728f56a77b98,2021-06-15 17:25:01.098074,purchase_success,3yVEIEUhmF8igIYTWV1iDg==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:25:01.098074
336022,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,0f3a5d6ba28b1fdee09ffc0b7ffeb167,2021-08-02 17:42:31.493004,purchase_success,CliHBLsYlrLq15fzRAHZ6w==,29000.0,의류,상의,티셔츠,4290.0,American Apparel,2021-08-02,17:42:31.493004
336023,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,7c27f60b21bd1c72c31d9d633e069d46,2021-08-02 19:23:46.465059,purchase_success,mU61E7Kb4DUHgbdYPMox3g==,58000.0,가구/인테리어,홈데코,커버류,8398.0,베베데코,2021-08-02,19:23:46.465059
336024,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,81e19cb62d3450d008fc227d4df17bcc,2021-08-02 21:49:35.198004,purchase_success,mU61E7Kb4DUHgbdYPMox3g==,58000.0,가구/인테리어,홈데코,커버류,8398.0,베베데코,2021-08-02,21:49:35.198004
284511,zzuJMnncH5Wrn/GUA7nqTg==,1997,Z,3ae64d4946bb3ea20d503afc2e39b578,2021-07-23 20:01:48.630025,purchase_success,EnzKYLzBWAMEcir/4VTccg==,65000.0,의류,원피스/점프수트,원피스,11472.0,MONGDOL,2021-07-23,20:01:48.630025

In [35]:
# user_no기준으로 date를 앞으로 한칸씩 당겨옴 
ddf2['next_purchase'] = ddf2.groupby(by="user_no")["date"].shift(-1)
ddf2

,user_no,year,generation,session_id,event_timestamp,event_name,item_no,price,category1_name,category2_name,category3_name,brand_no,brand_name,date,time,next_purchase
294924,++0bwiYVJ/TAsCpxI4UCuw==,1998,Z,1c383cd30b7c298ab50293adfecb7b18,2021-07-27 14:33:20.527011,purchase_success,1oudcHpdVAFRZB8isAnFMQ==,88000.0,의류,상의,티셔츠,7997.0,FRED PERRY APPAREL,2021-07-27,14:33:20.527011,NaN
305440,++2StXdzG0Bj/Kkb5EFcog==,1998,Z,d67d8ab4f4c10bf22aa353e27879133c,2021-06-29 18:49:40.928022,purchase_success,9oXAjvKXJBnVAnVqCTTgkw==,25900.0,의류,하의,바지,9621.0,JEMUT,2021-06-29,18:49:40.928022,NaN
273662,++2c5Jr8sOEvXXs326kLYQ==,2002,Z,3416a75f4cea9109507cacd8e2f2aefc,2021-06-19 13:27:55.277026,purchase_success,D0VWjbDA0Hn/u4LJSwVyDw==,38000.0,의류,상의,티셔츠,2477.0,NEITHERS,2021-06-19,13:27:55.277026,NaN
294925,++IAheYpBmhESyfIUJcnDA==,1996,Z,c042f4db68f23406c6cecf84a7ebb0fe,2021-06-23 01:31:00.192256,purchase_success,Z1WikGOivUTkUDaBjNSn1g==,23000.0,잡화,주얼리,귀걸이,9963.0,GETMEBLING,2021-06-23,01:31:00.192256,2021-06-23
294926,++IAheYpBmhESyfIUJcnDA==,1996,Z,c042f4db68f23406c6cecf84a7ebb0fe,2021-06-23 01:31:00.192257,purchase_success,Gx9DFIr0AtPxUFd+TTaYag==,39000.0,잡화,주얼리,목걸이,9963.0,GETMEBLING,2021-06-23,01:31:00.192257,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284510,zzeo6R7eqUsMpsllzG1Xbw==,1997,Z,8fcd3304dc37cdeb44e4728f56a77b98,2021-06-15 17:25:01.098074,purchase_success,3yVEIEUhmF8igIYTWV1iDg==,87000.0,의류,상의,셔츠/블라우스,2219.0,ANOTHEROFFICE,2021-06-15,17:25:01.098074,NaN
336022,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,0f3a5d6ba28b1fdee09ffc0b7ffeb167,2021-08-02 17:42:31.493004,purchase_success,CliHBLsYlrLq15fzRAHZ6w==,29000.0,의류,상의,티셔츠,4290.0,American Apparel,2021-08-02,17:42:31.493004,2021-08-02
336023,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,7c27f60b21bd1c72c31d9d633e069d46,2021-08-02 19:23:46.465059,purchase_success,mU61E7Kb4DUHgbdYPMox3g==,58000.0,가구/인테리어,홈데코,커버류,8398.0,베베데코,2021-08-02,19:23:46.465059,2021-08-02
336024,zzgao+2DDP5dkvHT3yvLiQ==,1997,Z,81e19cb62d3450d008fc227d4df17bcc,2021-08-02 21:49:35.198004,purchase_success,mU61E7Kb4DUHgbdYPMox3g==,58000.0,가구/인테리어,홈데코,커버류,8398.0,베베데코,2021-08-02,21:49:35.198004,NaN
284511,zzuJMnncH5Wrn/GUA7nqTg==,1997,Z,3ae64d4946bb3ea20d503afc2e39b578,2021-07-23 20:01:48.630025,purchase_success,EnzKYLzBWAMEcir/4VTccg==,65000.0,의류,원피스/점프수트,원피스,11472.0,MONGDOL,2021-07-23,20:01:48.630025,NaN

In [36]:
# user_no 기준 재구매 하지 않은 사람들 제거 
ddf2 = ddf2.dropna(subset=['next_purchase'])

In [37]:
# 계산을 위해 타입을 날짜로 변환
ddf2['date'] = pd.to_datetime(ddf2['date'])
ddf2['next_purchase'] = pd.to_datetime(ddf2['next_purchase'])
# purchase_date_diff 컬럼 생성 
ddf2['purchase_date_diff']=ddf2['next_purchase']-ddf2['date']

/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/1355921349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['date'] = pd.to_datetime(ddf2['date'])
/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/1355921349.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['next_purchase'] = pd.to_datetime(ddf2['next_purchase'])
/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/1355921349.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf2['purchase_date_diff']=ddf2['next_purchase']-ddf2['date']

In [38]:
# 당일에 재구매한것은 분리 
df_0days = ddf2[ddf2['purchase_date_diff']== '0 days']
df_0days.shape[0]

30009

In [39]:
# 재구매 유저 그룹 분리
df_ndays = ddf2.drop(df_0days.index) # 당일 재구매 제외
df_ndays['purchase_date_diff'].value_counts().sort_index()

1 days     1906
2 days     1294
3 days     1124
4 days     1053
5 days      842
           ...
57 days       9
58 days      19
59 days       8
60 days       4
61 days       1
Name: purchase_date_diff, Length: 61, dtype: int64

In [41]:
# 계산을 위해 date_diff의 타입을 timedelta64에서 int로 변환
df_ndays['purchase_date_diff '] = df_ndays['purchase_date_diff'].dt.days

In [42]:
#유저별 평균 구매일수 
df_ndays.groupby('user_no').mean()

                            year          price  brand_no  purchase_date_diff
user_no
++KVqHvNPHvp3LL9SkuL8A==  2004.0   73950.000000    9669.5                 24.0
+00VohIjKv9IBNiMTZXFiA==  1997.0   99000.000000    3797.0                 20.0
+0pt8KO8US1de0l0pHbSKA==  2000.0   45000.000000    7730.0                 28.0
+1Mr7TyOhb/FqQdRYdBQCg==  1997.0   68000.000000   12252.0                  1.0
+1QDACW9qACZkfLQO+HdrQ==  1998.0  121666.666667    7385.0                  5.0
...                          ...            ...       ...                  ...
zz3Ar6DD99dqzB75w7zdxw==  1998.0   60000.000000    3360.0                 16.5
zzFuhUOnokFb9Vgp98ucrA==  1997.0   15500.000000    8077.0                  3.0
zzKWo6xuFSRROk3YcF7lZA==  2000.0   42000.000000    3689.0                 20.0
zzLGF7vXyODnAkQWIcqX0g==  1996.0  175500.000000   12305.5                 13.5
zzeo6R7eqUsMpsllzG1Xbw==  1997.0   69000.000000    2350.0                  8.0

[10060 rows x 4 columns]

In [43]:
# Z세대의 구매 주기 
df_ndays.groupby('user_no').mean().mean()

year                    1998.056660
price                  61495.169111
brand_no                7469.274281
purchase_date_diff        15.207683
dtype: float64

# 2. 재구매율

In [44]:
## M세대
# data sorting 기준:['user_no','session_id', 'date']
df_m = df_m.sort_values(by=['user_no','session_id', 'date'])

In [45]:
# user_no 의 마지막 주문 성공 date 추출
last_date = df_m.groupby(by="user_no")["date"].max().reset_index()

In [46]:
# 마지막 구매일과 첫번째 구매일 합치기
result = pd.merge(df_m, last_date, on = "user_no")

In [47]:
# 첫번째 유저아이디만 남기고 중복된 유저아이디 제거
df_m_data = result.drop_duplicates(subset=["user_no"])

In [48]:
# date의 타입을 datetime으로 변환
df_m_data['date_x'] = pd.to_datetime(df_m_data['date_x'])
df_m_data['date_y'] = pd.to_datetime(df_m_data['date_y'])

/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/595929884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m_data['date_x'] = pd.to_datetime(df_m_data['date_x'])
/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/595929884.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m_data['date_y'] = pd.to_datetime(df_m_data['date_y'])

In [49]:
# 마지막 구매와 첫구매의 기간 구하기
# data_diff 컬럼 생성 : 마지막 구매일 - 첫 구매일
df_m_data['date_diff'] = df_m_data['date_y']-df_m_data['date_x']

/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/1783984465.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m_data['date_diff'] = df_m_data['date_y']-df_m_data['date_x']

In [50]:
# 계산을 위해 date_diff의 타입을 timedelta64에서 int로 변환
df_m_data['date_diff'] = df_m_data['date_diff'].dt.days

/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/129898929.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m_data['date_diff'] = df_m_data['date_diff'].dt.days

In [51]:
# 재구매하지 않은 유저 와 재구매 유저 집단 분리
df_m_data_0 =df_m_data[df_m_data['date_diff']==0]

In [52]:
# M세대중 재구매하지 않은 유저의 수
df_m_data_0.shape[0]

66530

In [68]:
# 재구매X 유저인덱스추출
df_m_data_0 =df_m_data[df_m_data['date_diff']==0].index
df_m_data_0

Int64Index([     4,      6,      7,      9,     92,     96,     98,     99,
               101,    109,
            ...
            262148, 262149, 262152, 262161, 262162, 262163, 262166, 262167,
            262168, 262183],
           dtype='int64', length=66530)

In [69]:
# 재구매 유저 추출
df_m_data_re = df_m_data.drop(df_m_data_0) #재구매하지 않은 유저 제거

In [70]:
# 재구매 유저 추출
df_m_data_re = df_m_data.drop(df_m_data_0) #재구매하지 않은 유저 제거
df_m_data_re['date_diff'].value_counts()

1     964
2     689
3     600
4     552
7     524
     ...
58     43
59     29
60     27
61     11
62      4
Name: date_diff, Length: 62, dtype: int64

In [72]:
# M세대의 재구매율
df_m_data_re['date_diff'].value_counts().sum() / df_m['user_no'].nunique()*100

21.144956738177076

In [73]:
## Z세대 재구매율
df_z = df_z.sort_values(by=['user_no','session_id', 'date'])

In [74]:
last_date = df_z.groupby(by="user_no")["date"].max().reset_index()

In [75]:
result = pd.merge(df_z, last_date, on = "user_no")

In [77]:
df_z_data = result.drop_duplicates(subset=["user_no"])

In [78]:
df_z_data['date_x'] = pd.to_datetime(df_z_data['date_x'])
df_z_data['date_y'] = pd.to_datetime(df_z_data['date_y'])

/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/3425009851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z_data['date_x'] = pd.to_datetime(df_z_data['date_x'])
/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/3425009851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z_data['date_y'] = pd.to_datetime(df_z_data['date_y'])

In [79]:
df_z_data['date_diff'] = df_z_data['date_y']-df_z_data['date_x']

/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/3665906669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z_data['date_diff'] = df_z_data['date_y']-df_z_data['date_x']

In [80]:
df_z_data['date_diff'] = df_z_data['date_diff'].dt.days

/var/folders/_3/mrrwwmkj5516nx2vycf8tmsc0000gn/T/ipykernel_9965/2504393402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_z_data['date_diff'] = df_z_data['date_diff'].dt.days

In [81]:
df_z_data_0 =df_z_data[df_z_data['date_diff']==0]

In [82]:
df_z_data_0.shape[0]

28706

In [83]:
df_z_data_0 =df_z_data[df_z_data['date_diff']==0].index
df_z_data_0

Int64Index([    0,     1,     2,     3,    10,    11,    12,    13,    14,
               16,
            ...
            82805, 82810, 82811, 82813, 82821, 82829, 82830, 82831, 82835,
            82838],
           dtype='int64', length=28706)

In [84]:
df_z_data_re = df_z_data.drop(df_z_data_0) #재구매하지 않은 유저 제거

In [85]:
df_z_data_re = df_z_data.drop(df_z_data_0) #재구매하지 않은 유저 제거
df_z_data_re['date_diff'].value_counts()

1     357
2     240
3     227
4     224
5     185
     ...
58     15
59     13
60      3
62      2
61      1
Name: date_diff, Length: 62, dtype: int64

In [86]:
# Z세대 재구매율
df_z_data_re['date_diff'].value_counts().sum() / df_z['user_no'].nunique()*100

17.30237381885227

# 객단가 & T-test

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("mz_final.csv", encoding = 'utf-8')

In [8]:
#MZ바꾸기만 하면 됨.
#구입 성공한 사람
df_purchase= df[df['event_name']=='purchase_success']
df_z= df_purchase[df_purchase['generation']=='Z']
df_z

df_purchase= df[df['event_name']=='purchase_success']
df_m= df_purchase[df_purchase['generation']=='M']
df_m
#Z세대 구입 가격 다 더한거 
Totalz = df_z['price'].sum()
Totalm = df_m['price'].sum()
#**z세대 구매 금액 4685392296.0
#*M세대 구매 금액 16491579305.0

#성공적으로 구매한 사람 중에 중복 지운 것.(z: 34712 m:84370)
df_Zno= df_z.drop_duplicates(['user_no'])
df_Zno.count()
df_mno= df_m.drop_duplicates(['user_no'])
df_mno.count()
#전체 구매금액 / 중목없는 사람 수
#Z 세대(객단가)  208249
Totalz / df_Zno['user_no'].count()
Totalm / df_mno['user_no'].count()#(z: 134979 , M: 195467)

195467.33797558374

# T검정

In [9]:
import matplotlib.pyplot as plt
import numpy as np

In [29]:
#세대별 user_no 구매가격 확인후 정렬
#세대별 구매성공
df_m = df[(df['generation']=='M')&(df['event_name']=='purchase_success')].groupby('user_no')
df_z = df[(df['generation']=='Z')&(df['event_name']=='purchase_success')].groupby('user_no')

In [30]:
#독립표본 t-test
from scipy.stats import levene
#세대별 user_no 구매가격 확인후 정렬
df_m['price'].sum().sort_values()
df_z['price'].sum().sort_values()

user_no
N1KCZiTobZBss1eWO2iSaA==        500.0
AWziMPY8sSYNwloMHfUlWQ==        600.0
w0tyEo3KDa7UXm0Tgfg1tg==        600.0
GhZ22EFjlXcx1KM0MwBnUQ==        990.0
DiNzuxphnUh3DTPr6Q0YQw==       1500.0
                              ...
H5r8dy95iRUOMaIQelJVEg==    2797000.0
woApBxlycI8NG90SloRyRg==    3227300.0
cjRLplt5NuCfVcbtKjFgrg==    3643900.0
THRsmIZH+3pPSZhV/gpUNA==    4143000.0
HYd/Mh5ogaiu+Ln0cctE7Q==    4754200.0
Name: price, Length: 34712, dtype: float64

In [33]:
#독립표본 t-test
from scipy.stats import levene

# 두 집단 변수생성
gen_m = df_m['price'].sum().sort_values()
gen_z = df_z['price'].sum().sort_values()
# 등분산 검정
levene(gen_m, gen_z)

LeveneResult(statistic=1067.8303913768154, pvalue=3.517876917141587e-233)

In [34]:
# 독립표본 t-test
from scipy import stats
#이분산 가정 (equal_var = False
stats.ttest_ind(gen_m,gen_z,equal_var = False)

Ttest_indResult(statistic=45.820051232719315, pvalue=0.0)